include README.md
include LICENSE.txt
include version

recursive-include spams_wrap *.h
recursive-include spams_wrap *.cpp

include spams/version

recursive-include spams/tests *.py
recursive-include spams/data *.png
recursive-include tests *.py
recursive-include data *.png
recursive-include doc *
